<div class="container">
  <select
    name="commune"
    [(ngModel)]="selectedCommuneId"
    (change)="onCommuneChange()"
    *ngIf="!isShowInsertCommune"
  >
    <option
      *ngFor="let item of communes"
      [value]="item.communeId"
      id="{{ item.communeId }}"
    >
      {{ item.communeName }}
    </option>
  </select>
  <input
    type="text"
    name="commune-ins"
    id="commune-ins"
    (change)="onCommuneChange()"
    [(ngModel)]="communeNameInsert"
    *ngIf="isShowInsertCommune"
  />
  <span
    class="addCommune"
    *ngIf="!isShowInsertCommune"
    (click)="onChangeEditCommune()"
  >
    <i class="fa-solid fa-plus"></i>
  </span>
  <span
    class="addCommune"
    *ngIf="isShowInsertCommune"
    (click)="onChangeEditCommune()"
  >
    <!-- trừ -->
    <i class="fa-solid fa-minus"></i>
  </span>
</div>
