.container {
  width: var(width);
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  animation: slide-right-in 0.5s ease-in-out;
}

.secon-content {
  width: 25%;
  min-height: fit-content;
  padding: 5%;
}

.content {
  position: relative;
  width: 70%;
  /* background-color: blanchedalmond; */
  /* height: calc(100% - 5%); */
}

.content-wrapper {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-secon {
  font-family: sans-serif;
}

.filet-price,
.sub-categorys,
.categorys {
  margin: 50px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 0.8em;
  color: var(--secon-text-color);
  font-family: var(--main-style);
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

ul li:hover {
  color: var(--main-color);
}

li i {
  color: var(--main-color);
  margin-right: 20px;
}

.br {
  width: 100%;
  border-bottom: 1px solid #858484;
}

.sort-content {
  position: absolute;
  right: 0px;
  top: 0;
}

.sort-content label {
  font-family: monospace;
  font-size: 1.4em;
}

.sort-content select {
  padding: 5px;
  margin-left: 15px;
  outline: none;
}

.pagination {
  height: 40px;
  width: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  cursor: pointer;
  height: 15px;
  padding: 10px;
  text-align: center;
  background-color: var(--main-color);
  font-weight: 600;
  margin: 0 5px;
  color: #000;
  transition: all 0.5s ease;
}

.pagination-item:hover {
  color: #fff;
  animation: jumpUp 0.5s ease;
}

.cate-item:hover,
.sub-cate-item:hover {
  animation: jumpLeft 0.5s ease;
}

.content-wrapper {
  width: 100%;
  animation: fadeInFromTop 1.5s ease-in-out;
}

.product-detail {
  top: 50%;
  right: calc(50% - calc(55vw - 30px));
  height: calc(60vh - 30px);
  width: calc(55vw - 30px);
  background-color: #cfcfcff0;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 99999;
  border-radius: 5%;
  opacity: 0;
  display: flex;
  justify-content: space-between;
}

.product-detail.show {
  opacity: 1;
  animation: slide-right-in 1s ease-in-out;
}

.product-detail.hiden {
  margin-right: -100%;
  animation: slide-right-out 1s ease-in-out;
}

.product-detail.hiden2 {
  margin-right: -100%;
  /* animation: slide-right-out 1s ease-in-out; */
}

/* product detail */
.product-detail {
  /* position: relative; */
  padding: 15px;
}

.product-detail-close-btn {
  top: 15px;
  right: 15px;
  position: fixed;
  filter: opacity(0.5);
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  background-color: #9d9d9dc4;
  color: #fff;
}

.product-detail-close-btn:hover {
  filter: none;
  background: var(--secon-color);
  animation: jumpUp-position 0.5s ease-in-out infinite;
}

.product-detail-left {
  /* background-color: #858484; */
  width: 40%;
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;
}

.product-detail-left,
.product-detail-right {
  height: 100%;
  overflow: hidden;
}

.product-detail-right {
  width: 55%;
  height: calc(100% - 25px);
  margin: 25px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-detail-left img {
  /* width: 100%; */
  /* height: 100%; */
  width: 125%;
}

.product-detail-name {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.9em;
  font-family: var(--main-style);
  color: var(--main-color);
}

.product-detail-price {
  font-size: 1.2em;
  color: #000000ab;
  font-family: cursive;
  margin: 15px 0;
  display: block;
  font-style: italic;
}

.product-detail-description {
  font-size: 1.5em;
  font-family: monospace;
  color: #3c3b3b;
  margin: 5px 0;
}

.product-detail-right ul,
.product-detail-right ul {
  margin: 0;
}
.product-detail-right ul .cate-item,
.product-detail-right ul .sub-cate-item {
  margin: 0;
}
/* product-detail-btn */
.product-detail-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail-btn {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-detail-btn .btn {
  max-width: 200px;
  padding: 15px;
  font-size: 1em;
  transition: all .5s ease-in-out;
}

.product-detail-btn .btn:hover {
  font-weight: 600;
}