<div class="container">
  <div class="header">
    <div class="logo">
      <img src="/assets/Logo/logo2.png" alt="logo" />
    </div>
    <ul class="menu-ul">
      <li class="no-select menu-li active">Home</li>
      <li class="no-select menu-li">About Us</li>
      <li class="no-select menu-li" (click)="showViewProduct()">Shop</li>
      <li class="no-select menu-li">Contacts</li>
      <li *ngIf="isLogin" class="no-select menu-li">
        <i class="fa-solid fa-cart-shopping"></i>
      </li>
      <li
        *ngIf="!isLogin"
        (click)="showLogin()"
        class="no-select menu-li login"
      >
        Đăng Nhập
      </li>
      <li *ngIf="isLogin" class="no-select menu-li">
        <i class="fa-solid fa-user"></i>
      </li>
    </ul>
  </div>

  <div class="background-main">
    
  </div>

  <router-outlet></router-outlet>

  <div class="footer">
    <p class="copyright-text">
      <a href="https://www.facebook.com/profile.php?id=100037555039651">
        Nguyễn Minh Hiếu
      </a>
      © 2024. All rights reserved.
    </p>
    <div class="logo-ft">
      <img src="/assets/Logo/logo2.png" alt="logo" />
    </div>
    <div class="group-btn">
      <a href="https://www.facebook.com/profile.php?id=100037555039651">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/hiees.u/">
        <i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </div>
</div>
